* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* Header: barra superiore schermata */
header {
    width: 100%;
    height: 5vh;
    background-color: #000;
    position: relative;
}

/* Area per contenere i pulsanti per il controllo dello schermo */
.controllerSchermo {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Pulsante Speaker View */
.cambiaSchermata {
    color: #fff;
    font-family: 'Overpass', sans-serif;
    background-color: #4a4a4a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    margin: 2px 2px;
    cursor: pointer;
}

.cambiaSchermata img {
    padding-right: 4px;
    width: 20px;
}

.cambiaSchermata h2 {
    font-size: 0.8rem;
}

.schermoIntero {
    background-color: #4a4a4a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    margin: 2px 2px;
    cursor: pointer;
}

/* Pulsante per attivare lo schermo intero */
.schermoIntero img {
    width: 12px;
}

/* Main: contenuto utenti */
main {
    background-color: #000;
    height: 85vh;
    padding: 30px 70px;
}

/* Area che contiene tutti gli utenti */
.contenitoreUtenti {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

/* Singola area contenente l'immagine */
.schermataUtente {
    width: calc(100% / 7 - 5px);
    margin-bottom: 10px;
    position: relative;
}

.schermataUtente img {
    width: 100%;
    height: calc((82vh - 90px) / 5);
    object-fit: cover;
}

.etichettaNomeUtente {
    position: absolute;
    left: 0;
    bottom: 3px;
    display: flex;
    align-items: center;
    background-color: rgba(86, 86, 86, 0.644);
}

.etichettaNomeUtente img {
    width: 11px;
    height: 11px;
    margin: 4px 3px;
    position: relative;
}

.etichettaNomeUtente h2 {
    font-size: 0.7rem;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
    padding-right: 5px;
}

/* Footer: barra inferiore */
footer {
    width: 100%;
    height: 10vh;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.controllerAudioVideo {
    margin-left: 10px;
    flex-basis: 10%;
    display: flex;
    justify-content: space-around;
}

.mic {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mic img {
    padding: 8px 10px 5px;
}

.mic p,
.video p,
.areaController p {
    text-align: center;
    font-size: 0.6rem;
    color: #fff;
}

.video img {
    padding: 10px 10px 5px;
}

.freccia {
    flex-basis: 13%;
    align-self: center;
    padding: 4px;
    cursor: pointer;
}

.video {
    flex-grow: 1;
    cursor: pointer;
}

.controllerCentrale {
    max-width: 700px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.areaController {
    flex-basis: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.areaController img {
    height: 5vh;
    padding: 0px 8px 4px;
}

.aumentaSpazio {
    flex-basis: 20%;
}

.riduciSpazio {
    flex-basis: auto;
    width: 14px;
    padding: 25px 0;
}

.abbandona {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    background-color: #4a4a4a;
    cursor: pointer;
}

.abbandona:hover {
    background-color: #5e5e5e;
}

.abbandona h2 {
    color: red;
    font-size: 0.9rem;
}